.qr2-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.qr2-container1 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.qr2-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.qr2-container2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.qr2-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.qr2-root-class-name3 {
  right: -63px;
  width: 50%;
  bottom: -5px;
  position: absolute;
}
.qr2-root-class-name4 {
  right: -63px;
  width: 50%;
  bottom: -5px;
  position: absolute;
}
.qr2-root-class-name5 {
  left: -40px;
  width: 50%;
  bottom: 2px;
  position: absolute;
}
.qr2-root-class-name6 {
  top: 148px;
  right: -58px;
  width: 50%;
  position: absolute;
}
.qr2-root-class-name7 {
  top: 194px;
  flex: 1;
  left: -51px;
  width: 50%;
  height: auto;
  position: absolute;
  align-self: flex-end;
}
.qr2-root-class-name8 {
  top: 132px;
  right: 23px;
  width: 50%;
  position: absolute;
  align-self: flex-end;
}
.qr2-root-class-name {
  top: 194px;
  flex: 1;
  left: 0px;
  width: 40%;
  height: auto;
  position: static;
  align-self: flex-start;
  margin-top: 150px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.qr2-root-class-name1 {
  right: 58px;
  width: 40%;
  bottom: 42px;
  position: static;
  align-self: flex-end;
}
.qr2-root-class-name2 {
  right: 58px;
  width: 40%;
  bottom: 42px;
  position: static;
  align-self: flex-end;
}
.qr2-root-class-name9 {
  right: 58px;
  width: 40%;
  bottom: 42px;
  position: static;
  align-self: flex-end;
}
.qr2-root-class-name10 {
  right: 58px;
  width: 40%;
  bottom: 42px;
  position: static;
  align-self: flex-end;
}
.qr2-root-class-name11 {
  right: 58px;
  width: 40%;
  bottom: 42px;
  position: static;
  align-self: flex-end;
}
@media(max-width: 767px) {
  .qr2-container1 {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .qr2-container1 {
    width: 300px;
  }
}
